<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello 拖孩</title>
    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>
    <style>
        #main{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h2{
            color: #cc3d4c;
            margin-left: 50%;
        }
    </style>
</head>

<body>
<div id="main">
<img src="huangbo.gif" width="600" height="500" >
</div>
<div>
    <p>您的IP:<span th:text="${ip}"></span></p>
    <p>访问次数:<span th:text="${count}"></span></p>
<h2>hello 拖孩</h2>
</div>
</body>
</html>
